<div class="container-fluid p-3 my-3 bg-dark text-white">
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="assets/logo.png" alt="logo-image">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link-underline" href="#">LEARN MORE <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">QUEST <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">APPS <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">DEVELOPERS <span class="sr-only">(current)</span></a>
        <button class="btn btn-secondary" type="submit">Login</button>&nbsp;
        <button class="btn btn-warning" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>

  <h1 class="center">Live Smarter</h1>
  <img src="assets/banenr.png" alt="image" class="center"><br><br>
  <p class="center" style="font-size: 30px;line-height: 0.8;">1self empowers you to</p>
  <p class="center" style="font-size: 30px; color:teal;line-height: 0.8;">collect,compare,correlate and comment on</p>
  <p class="center" style="font-size: 30px;line-height: 0.8;">all your data to live a smarter life</p><br>
  <p class="center" style="font-size: 20px;line-height: 0.8;">Join our invite only beta</p>
  <div class="container">

    <div class="center">
      <div class="search">
        <input type="text" class="form-control">
        <button type="button" class="btn btn-info">JOIN</button>
      </div>
    </div>

  </div>

</div>
<div class="container-fluid ">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 border ">
        <img src="assets/Capture.PNG" alt="banner">
      </div>
      <div class="col-md-6" style="background-color:tomato;border-radius: 0px 0px 0px 20px;">
        <div class="center" style="width: 70%;">
          <h1 style="text-align: left;color: thistle;font-weight: bold;color:yellow;padding-top: 35px;">Unite all of
            your data</h1><br>
          <p style="text-align: left;color: thistle;line-height: 0.5;font-weight: bold;">yup,all of your data</p>
          <p style="text-align: left;color: thistle;line-height: 0.5;font-weight: bold;">well,all that you're interested
            in anyway.</p><br>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 0.5;">Made a purchase,Got a new
            follower.Spent time doing</p>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 0.5;">Something got a high new
            score.Travelled somewhere</p><br>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 0.5;">Made a purchase,Got a new
            follower.Spent time doing</p>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 0.5;">Something got a high new
            score.Travelled somewhere</p><br>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 0.5;">Made a purchase,Got a new
            follower.Spent time doing</p>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 0.5;">Something got a high new
            score.Travelled somewhere</p><br>

          <button class="btn btn-danger border border-white"
            style="align-content: left;font-weight: bold;margin-right: 295px;" type="button">TELL ME MORE</button>
        </div>

      </div>
      <div class="col-md-6 border" style="background-color: teal;border-radius: 0px 20px 0px 0px;">
        <div class="center" style="width: 70%;">
          <h1 style="text-align: left;color: thistle;font-weight: bold;color:yellow;padding-top: 35px;">We Can't build
            it</h1><br>
          <p style="text-align: left;color: thistle;line-height: 0.5;font-weight: bold;">That's right,we can't build it
          </p>
          <p style="text-align: left;color: thistle;line-height: 0.5;font-weight: bold;">Atleast not on our own.</p><br>
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 1.5;">We are building flexible a platform to allow ypu to store and combine your data</p>
  
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 1.5;">We are building super simple tools to allow developers to integrate their apps with 1self</p>
     
          <p style="font-weight: normal;text-align: left;color: thistle;line-height: 1.5;">We are building who can find the interesting connections in the data and bubble it up for all our benefit </p>
         

          <button class="btn btn-success border border-white"
            style="align-content: left;font-weight: bold;margin-right: 295px;" type="button">TELL ME MORE</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/banner2.png" alt="banner">
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
          <i class="fa fa-angle-left" style="font-size:75px;color:turquoise;text-align: right;" ></i>
      </div>
      <div class="col-md-4">
          <h1 style=" text-align: center;margin-top: 10px;">Mission</h1>
          <p style=" text-align: center;line-height: 0.4;">1self is an open transparent and not for profit organization</p>
          <p style=" text-align: center;line-height: 0.4;">with a mission to improve the lives of individuals and of</p>
          <p style=" text-align: center;line-height: 0.4;">humanity overall through personal and collective insight </p>
          
          <p style=" text-align: center;line-height: 0.4;">
            <span class="dot"></span>&nbsp;&nbsp;
            <span class="dot"></span>&nbsp;&nbsp;
            <span class="dot"></span>&nbsp;&nbsp;
            <span class="dot"></span>&nbsp;&nbsp;
          </p>
      </div>
      <div class="col-md-4">
          <i class="fa fa-angle-right" style="font-size: 75px;color:turquoise;text-align: right;" ></i>
      </div>
    </div>
  </div>
  



</footer>


<router-outlet></router-outlet>